<style>﻿#programy a{color:white;text-decoration:underline;text-decoration-color:white}#programy .zpet a{color:black;text-decoration:underline;text-decoration-color:black}#programy table{width:100%;font-size:12px;border-collapse:collapse}#programy th,#programy td{width:10%;position:relative;text-align:center;border-spacing:0}#programy .program-row td{height:60px}#programy .program-row th{text-align:left}#programy .program-row .tooltiptext{visibility:hidden;width:200px;background-color:#555;color:#fff;text-align:left;padding:5px 10px;border-radius:6px;position:absolute;z-index:1;bottom:100%;left:50%;margin-left:-110px;opacity:0;transition:opacity 1s}#programy .program-row th .tooltiptext{left:100%;bottom:0;margin-left:0}#programy .program-row th .tooltiptext::after{border-width:0}#programy .program-row .tooltiptext::after{content:"";position:absolute;top:100%;left:50%;margin-left:-5px;border-width:5px;border-style:solid;border-color:#555 transparent transparent transparent}#programy .program-row .tooltiptext li{padding-bottom:10px}#programy .program-row .tooltiptext ul{padding:0;margin:0;padding-left:10px;list-style-position:outside}#programy .program-row th:hover .tooltiptext,#programy .program-row td:hover .tooltiptext{visibility:visible;font-size:12px;font-weight:normal;opacity:1}#programy .alles{font-size:10px;text-align:center}#programy #vypis li{padding-bottom:6px}#programy .tagy span{background-color:grey;display:inline-block;padding:2px 5px;margin-top:4px;margin-bottom:2px;margin-right:4px;color:white}</style>
<script src="https://unpkg.com/jquery@3.2.1"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.17/d3.min.js"></script>


<div class="b-data__bg" style="background-image: url('https://interaktivni.rozhlas.cz/brexit/media/cover.jpg');"><span class="b-data__caption">Foto <a href='#'>ČTK</a></span></div>
<header class="b-data__header">
<div class="row-main">
	<h1 class="b-data__title">
		<strong>Data z mobilů:<br>Praha se denně nafoukne o polovinu, v centru jsou návštěvníci v převaze</strong>
	</h1>
	<p class="meta meta--lg">
	<a href="#" class="meta__link">Jan Cibulka a Petr Kočí</a>
	<span class="meta__separator">|</span>
	<time>21. dubna 2017</time>
	</p>	
	<p>
	<a href="#content" class="b-data__link js-scroll-to">
	Čtěte dále
	<span class="b-data__link-icon">
	<span class="icon-svg icon-svg--arrow-down">
	<svg class="icon-svg__svg" xmlns:xlink="http://www.w3.org/1999/xlink">
		<use xlink:href="/sites/all/themes/custom/irozhlas/img/bg/icons-svg.svg#icon-arrow-down" x="0" y="0" width="100%" height="100%"></use>
	</svg>
</span>
</span>
</a>
</p>
</div>
</header> 

<div class="b-data__content" id="content">

<div class="row-main row-main--narrow">

<p class="text-bold text-lg">Skoro 140 tisíc lidí přijede do Prahy každý den za prací. Míří hlavně do kancelářských budov a do centra města. S nimi pak dorazí i přes půl milionu návštěvníků. Ukázala to analýza dat o pohybu mobilních telefonů, kterou si nyní město nechává zpracovat.</p>

<p></div><div class="row-main row-main--article">Během dne se lidé v Praze soustřeďují v okolí administrativních center a obchodů, po poledni se tak nejvíc zahustí okolí Andělu, centrum Prahy (Vodičkova ulice a Petrské náměstí) a Brumlovka nedaleko Budějovické. Na poslední jmenované adrese sídlí řada velkých korporací, mezi nimi i Microsoft nebo ČEZ. Pro srovnání, na zmíněných místech je ve „špičce“ okolo šesti stovek osob na jeden hektar, průměr Prahy je 25 obyvatel na <a href="https://cs.wikipedia.org/wiki/Hektar">hektar</a> (Václavské náměstí má rozlohu asi 4 hektary).
</div><div class="row-main row-main--narrow"></p>
<p>Naopak v noci se nejvíc lidí se „namačká“ ve Vršovicích, jde o 430 osob na hektar.</p>
<p>Detaily si můžete prohlédnout v následující mapě, kterou z dat mobilních operátorů zpracoval pražský <a href="http://www.iprpraha.cz/">Institut plánování a rozvoje</a>.</p>
<p><em>Pokud vás zajímá, kolik lidí bývá ve dne a v noci ve vaší čtvrti, najděte si ji na mapě, přepněte se na časové řezy, vyberte přepínač hustota osob a potom pohybujte posuvníkem nahoře.</em></p>
<h2>Data na prodej</h2>
<div id='programy'>
<div id='vypis'></div>
<table id='tabulka' class='table--responsive'></table>
</div>

<p>I pokud netelefonujeme nebo neposíláme SMS, telefon pravidelně komunikuje s vysílači v síti mobilního operátora. Z dat o síle signálu a použité anténě je možné odvodit, kde se přibližně telefon nachází a jak dlouhou dobu na místě strávil.</p>
<p>Mobilní operátor má <a href="https://www.zakonyprolidi.cz/cs/2005-127/zneni-20160919#p97-3">zákonnou povinnost</a> takové informace uchovávat, a to půl roku do minulosti, přistupovat k nim ale mohou jen bezpečnostní složky, typicky policie nebo rozvědka.</p>
<p>Operátoři ale obdobné informace mohou anonymizovat (tedy zbavit identifikace konkrétního uživatele) a agregovat, tedy spojit informace o jednotlivcích do jakýchsi skupin. Výsledná obecná čísla pak přeprodávají dál, například marketingovým firmám či dopravním analytikům. Zpětně z nich nejde dovodit, kde se pohybuje každý jednotlivec, dávají ale určitý přehled o obecném chování obyvatel nějakého místa.</p>

<p class="meta meta--right meta--big">
<strong><a href="#" class="meta__link">Jan Cibulka a Petr Kočí</a></strong>
</p>
</div>
<!--[[ZPRAVY_SNOWFALL_RELATED:ARTICLES]]-->
</div><script>var programy;var cetnosti;function onlyUnique(value,index,self){return self.indexOf(value)===index;}
function showProgram(strana,tema){$("#tabulka").empty();var text='<h2>'+strana+', '+tema+'</h2>';var body=programy.filter(function(d){return(d.strana==strana&&(d.tag1==tema||d.tag2==tema||d.tag3==tema||d.tag4==tema||d.tag5==tema||d.tag6==tema||d.tag7==tema));});tagy=body.map(function(d){var tagysmrizkou=[];tagysmrizkou.push('#'+d.tag1);if(d.tag2!=''){tagysmrizkou.push(' #'+d.tag2);if(d.tag3!=''){tagysmrizkou.push(' #'+d.tag3);if(d.tag4!=''){tagysmrizkou.push(' #'+d.tag4);if(d.tag5!=''){tagysmrizkou.push(' #'+d.tag5);if(d.tag6!=''){tagysmrizkou.push(' #'+d.tag6);if(d.tag7!=''){tagysmrizkou.push(' #'+d.tag7);}}}}}}
return tagysmrizkou;});body=body.map(function(d){return d.bod;});text+="<div><ul>"
for(i=0;i<body.length;i++){text+='<li>'
text+=body[i]
text+='<div class="tagy"><span>'+tagy[i].join("</span><span>")+'</span></div>'
text+='</li>'}
text+='</ul></div>'
text+='<div class="zpet"><a href="javascript:showTablicu()">Zpět k tabulce</a></div>';$("#vypis").html(text);};function showTablicu(){$("#vypis").empty();var fotka=["ano.jpg","čps.jpg","čssd.jpg","kdu.jpg","ksčm.jpg","ods.jpg","spd.jpg","stan.jpg","top.jpg"];var strany=cetnosti.map(function(d){return d.strana;});strany=strany.filter(onlyUnique);var text='<tr class="loga"><td><div class="pole"></div></td>';for(i=0;i<strany.length;i++){text+='<td><div class="pole"><strong><img src="https://interaktivni.rozhlas.cz/data/programy-stran-2017/charts/loga/'+fotka[i]+'" width=100%></strong></div></td>';}
text+='</tr>';var temata=cetnosti.map(function(d){return d.tema;});temata=temata.filter(onlyUnique);var obsah=cetnosti.map(function(d){return d.obsah;});for(j=0;j<temata.length;j++){var tooltip=obsah[j];var rozdeleni=temata[j];if(rozdeleni=='Bezpečnost'){rozdeleni='Bezpeč-<br>nost';}else if(rozdeleni=='Ekonomika'){rozdeleni='Ekono-<br>mika';}else if(rozdeleni=='Informatika'){rozdeleni='Informa-<br>tika';}else if(rozdeleni=='Zahraničí'){rozdeleni='Zahra-<br>ničí';}else if(rozdeleni=='Zdravotnictví'){rozdeleni='Zdravot-<br>nictví';}else if(rozdeleni=='Zemědělství'){rozdeleni='Zeměděl-<br>ství';}
text+='<tr class="program-row"><th>'+rozdeleni+'<div class="tooltip"><span class="tooltiptext">'+tooltip+'</span></div></th>';cetnosti_=cetnosti.filter(function(d){return(d.tema==temata[j]);});for(i=0;i<strany.length;i++){var podil=Math.round(cetnosti_[i].freq*1000,3)/10;var odstin;if(cetnosti_[i].freq<0.01){odstin="#fee5d9";}else if(cetnosti_[i].freq<0.02){odstin="#fcbba1";}else if(cetnosti_[i].freq<0.04){odstin="#fc9272";}else if(cetnosti_[i].freq<0.08){odstin="#fb6a4a";}else if(cetnosti_[i].freq<0.16){odstin="#de2d26";}else{odstin="#a50f15";}
var tooltip=programy.filter(function(d){return(d.strana==strany[i]&&d.top==temata[j]&&(d.tag1==temata[j]||d.tag2==temata[j]||d.tag3==temata[j]||d.tag4==temata[j]||d.tag5==temata[j]||d.tag6==temata[j]||d.tag7==temata[j]));})
tooltip=tooltip.map(function(d){return d.bod;})
tooltip="<ul><li>"+tooltip.join("</li><li>")+"</li></ul>";text+='<td style="background-color: '+
odstin+'; color: white;"><div class="pole">'+
podil+'&nbsp;%</div><span class="tooltiptext">'+
tooltip+'<div class="alles"><a href="javascript:showProgram(\''+strany[i]+'\', \''+temata[j]+'\', \''+programy+'\')">Všechny body</a></div></span></td>';}
text+='</tr>';}
$("#tabulka").html(text);};d3.select("#fallback").remove();d3.csv("https://interaktivni.rozhlas.cz/data/programy-stran-2017/charts/programy.csv",function(data1){d3.csv("https://interaktivni.rozhlas.cz/data/programy-stran-2017/charts/cetnosti.csv",function(data2){programy=data1;cetnosti=data2;showTablicu();})});</script>
