﻿#programy a {
	color: white;
	text-decoration: underline;
	text-decoration-color: white;
}

#programy .zpet a {
	color: black;
	text-decoration: underline;
	text-decoration-color: black;
}

#programy table {
	width: 100%;
	font-size: 12px;
	 border-collapse: collapse;
}

#programy th,
#programy td {
	width: 10%;
	position: relative;
	text-align: center;
	border-spacing: 0;
}

#programy .program-row td {
	height: 60px;
}

#programy .program-row th {
	text-align: left;
}

#programy .program-row .tooltiptext {
	visibility: hidden;
	width: 200px;
	background-color: #555;
	color: #fff;
	text-align: left;
	padding: 5px 10px;
	border-radius: 6px;

	position: absolute;
	z-index: 1;
	bottom: 100%;
	left: 50%;
	margin-left: -110px;

	opacity: 0;
	transition: opacity 1s;
}

#programy .program-row th .tooltiptext {
	left: 100%;
	bottom: 0%;
	margin-left: 0px;
}
#programy .program-row th .tooltiptext::after {
	border-width: 0px;
}

#programy .program-row .tooltiptext::after {
	content: "";
	position: absolute;
	top: 100%;
	left: 50%;
	margin-left: -5px;
	border-width: 5px;
	border-style: solid;
	border-color: #555 transparent transparent transparent;
}

#programy .program-row .tooltiptext li {
	padding-bottom: 10px;
}

#programy .program-row .tooltiptext ul {
	padding: 0;
	margin: 0;
	padding-left: 10px;
	list-style-position:outside;
}

#programy .program-row th:hover .tooltiptext,
#programy .program-row td:hover .tooltiptext {
	visibility: visible;
	font-size: 12px;
	font-weight: normal;

	opacity: 1;
}


#programy .alles {
	font-size: 10px;
	text-align: center;
}

#programy #vypis li {
	padding-bottom: 6px;
}

#programy .tagy span {
	background-color: grey;
	display: inline-block;
	padding: 2px 5px;
	margin-top: 4px;
	margin-bottom: 2px;
	margin-right: 4px;
	color: white;
}


.tooltipster-content ul{
	padding: 0;
	margin: 0;
	padding-left: 10px;
}

.tooltipster-content li{
	padding-bottom: 10px;
}